{% extends 'base.html' %} {% block title %}My Top 10 Movies{% endblock %} {%
block content %}

<span class="intro">
  <h1 class="heading">My movie library</h1>
</span>
<div class="container">
  {% for movie in movies %}
  <div class="card">
    <div class="front" style="background-image: url({{movie.img_url}})"></div>
    <div class="back">
      <div>
        <div class="title">
          {{movie.title}} <span class="release_date">{{movie.year}}</span>
        </div>
        <p class="review">{{movie.review}}</p>
        <p class="overview">{{movie.description}}</p>

        <a href="{{url_for('update_movie', movie_id=movie.id)}}" class="button"
          >Update</a
        >
        <a
          href="{{url_for('delete_movie', movie_id=movie.id)}}"
          class="button delete-button"
          >Delete</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- <div class="add_button">
  <a href="{{url_for('add_movie')}}" class="add_button">Add Movie</a>
</div> -->

{% endblock %}
